# this file only contains machine level ignores. this is for the purpose of
# making project level ignore files project specific.

# anyone using OSX just ignore this
.DS_Store

# I sometimes add my own personal scripts near a repo but they aren't ready
# to be used by everyone
scotts_tools/

# Ignoring temporary dot directories
/.CFUserTextEncoding
/.NERDTreeBookmarks
/.Trash
/.android
/.ansible
/.aqbanking
/.bash_history
/.berkshelf
/.boot2docker
/.bundler
/.cache
/.config
/.cpan
/.cpanm
/.cups
/.dropbox
/.dropbox-master
/.gem
/.heroku
/.inputrc
/.irb-history
/.irb_history
/.lesshst
/.local
/.macports
/.netrc
/.npm
/.perl5
/.plumber
/.psql_history
/.puppet
/.python-eggs
/.rubies
/.ruby-version
/.ssh
/.subversion
/.tor
/.vagrant.d
/.vimgolf
/.viminfo
/.vim/.netrwhist
/.zlogin

# Ignoring application created directories
/Dropbox*
/VirtualBox VMs

# Ignoring standard OSX directories
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public

# Ignoring personal workspaces
/code
/presentations
/projects
/website
/work
/workstation



