# this file only contains machine level ignores. this is for the purpose of
# making project level ignore files project specific.

# anyone using OSX just ignore this
.DS_Store

# I sometimes add my own personal scripts near a repo but they aren't ready
# to be used by everyone
scotts_tools/

# Ignoring temporary dot directories
/.CFUserTextEncoding
/.NERDTreeBookmarks
/.Trash
/.ansible
/.bash_history
/.bundler
/.cache
/.cups
/.dropbox
/.gem
/.irb-history
/.irb_history
/.lesshst
/.local
/.macports
/.npm
/.puppet
/.rvm
/.rvmrc
/.ssh
/.subversion
/.vagrant.d
/.viminfo
/.vim/.netrwhist
/.zlogin

# Ignoring application created directories
/Dropbox
/VirtualBox VMs

# Ignoring standard OSX directories
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public

# Ignoring personal workspaces
/blog
/code
/projects
/workstation


